body{
    background:#87CEEB;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.container{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    width:300px;
}

input{
    width:100%;
    padding:8px;
}

button{
    margin:5px;
    padding:6px 12px;
    border:none;
    background:#2196F3;
    color:white;
}

img{
    width:80px;
}
